.user-dropdown-container img {
    width: 40px;
    height: 40px;
    border: 2px solid white;
    cursor: pointer;
}
.dropdown-part {
    padding: 20px;
    background-color: black;
    border-radius: 4px;
    position: absolute;
    right: 0px;
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
    top: calc(100% + 10px);
}
.dropdown-item {
    background: none;
    border: none;
    font-size: 1rem;
    text-decoration: none;
    color: gray;
    cursor: pointer;
    display: block;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.user-dropdown-container {
    position: relative;
}