.movies-container {
    color: white;
    padding: 20px 20px;
    max-width: 1400px;
    margin: 0 auto;
}
.inner-movies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}