.login-page {
    background: url('../../assets/hero-section.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: grid;
    place-content: center;
}
.login-page > * {
    position: relative;
    z-index: 2;
}
.login-page::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.509);
}
.login-page .login-page-form {
    background-color: rgba(0, 0, 0, 0.693);
    padding: 50px 20px;
    border-radius: 8px;
    color: white;
    max-width: 500px;
}
.login-page .login-page-form input {
    width: 100%;
    height: 50px;
    margin: 10px 0px;
    padding: 10px;
    background-color: rgb(36, 36, 36);
    border: 1px solid gray;
    font-size: 1.1rem;
    color: white;
}
.login-page .login-page-form button {
    width: 100%;
    justify-content: center;
    margin: 20px 0px;
}
.login-page .login-page-form h2 {
    margin-bottom: 10px;
}
.login-page .login-page-form a {
    color: white;
    text-decoration: none;
}
.login-page .login-page-form p {
    color: gray;
}
.login-page .login-page-form .bottom-form {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    flex-wrap: wrap;
}
.login-page .login-page-form h2 {
    font-size: 2rem;
}
@media (min-width: 1000px) {
    .login-page .login-page-form {
        padding: 50px;
    }
}